<footer>
  <nav>
    <a class="button"
       routerLink="/home"
       routerLinkActive="active">
      Home
    </a>
    <a class="button"
       routerLink="/about"
       routerLinkActive="active">
      About us
    </a>
    <a class="button"
       routerLink="/services"
       routerLinkActive="active">
      Services
    </a>
    <a class="button"
       routerLink="/contacts"
       routerLinkActive="active">
      Contacts
    </a>
  </nav>
  <p>&copy; Шмигельський Павло. ЧНУ. 2023 р.</p>
</footer>
