footer {
  width: 1280px;
  position: absolute;
  bottom: 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(86, 154, 177);
}

nav {
  margin-left: 20px;
  display: flex;
}
footer a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

footer a:hover {
  background-color: #a3a3a3;
}

footer a.active {
  background-color: #888888;
  color: yellow;
}

footer p {
  font-size: 14px;
}